.tabExpedients-header {
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 50%;
  gap: 10px;
}

.tab.active {
  background-color: rgba(212, 25, 25, 1);
  /* Color de fondo activo */
  color: #fff; /* Color del texto activo */
}

.tab.disable {
  flex: 1;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.tab:hover {
  background-color: #ccc;
}

/* Estilos del contenido de los tabs */
.tab-content {
  padding: 10px;
}
