.sections {
  background-color: rgba(217, 217, 217, 1);
  & ul {
    display: flex;
    gap: 40px;
    height: 30px;
    align-items: center;
    padding: 0 10px;

    & li {
      list-style: none;
      cursor: pointer;
    }
  }
}

.tabla-container {
  margin: 20px;
}

.registros-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.registros-table th,
.registros-table td {
  padding: 10px;
  text-align: left;
  /* border: 1px solid #ccc; */
}

.registros-table th {
  background: rgba(217, 70, 70, 1);
  color: white;
}

.registros-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.registros-table tbody tr:hover {
  background-color: #e0e0e0;
}

.expedient-btn {
  display: flex;
  width: 25%;
  gap: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}

.expedient-btn:hover {
  background-color: #0056b3;
}

/* TABS */

.tab-header {
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.tab.active {
  background-color: rgba(212, 25, 25, 1);
  /* Color de fondo activo */
  color: #fff; /* Color del texto activo */
}

/* .tab:hover {
  background-color: #ccc;
} */

/* Estilos del contenido de los tabs */
.tab-content {
  border: 1px solid #ccc;
  padding: 10px;
}

/* Estilos para el botón y la tabla */
/* Estilos para los botones en las tablas */
.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #0056b3;
}

/* Otros estilos para los botones según su función */
.primary-button {
  background-color: #007bff;
}

.secondary-button {
  background-color: #6c757d;
}

.success-button {
  background-color: #28a745;
}

.danger-button {
  background-color: #dc3545;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.page-item {
  cursor: pointer;
  margin: 0 20px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.page-item:hover {
  background-color: #007bff;
  color: #fff;
}

.page-number {
  font-size: 20px;
  margin: 0 10px;
}

.page-item.disabled {
  cursor: default;
  color: #ccc;
}

.page-item:active {
  transform: scale(0.95);
}

search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  flex-grow: 1;
}

button.btn-primary {
  padding: 8px 16px;
  background-color: #daa3a3;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.btn-primary:hover {
  background-color: rgba(217, 70, 70, 1);
}
