header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgba(212, 25, 25, 0.79);
  padding: 0 10px;
  color: white;
  font-family: "Public Sans", sans-serif;

  @media (max-width: 770px) {
    flex-direction: column;
    height: auto;
    padding: 10px 20px;
    text-align: center;
  }

  .container-logo-nav {
    display: flex;
    align-items: center;
  }

  .mmq-icon:hover {
    cursor: pointer;
  }

  .sistema {
    font-size: 35px;
    text-shadow: 0 5px 6px rgba(0, 0, 1, 0.609);

    @media (max-width: 1100px) {
      font-size: 25px;
    }

    @media (max-width: 900px) {
      font-size: 20px;
    }

    @media (max-width: 850px) {
      font-size: 15px;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    text-shadow: 0 5px 3px rgba(0, 0, 1, 0.609);
  }

  #user-name {
    text-shadow: 0 3px 3px rgba(0, 0, 1, 0.609);
  }

  .icon-login {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .icon {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  button {
    background-color: transparent;
    border: none;
  }
}
