.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-search {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.container-filter {
  display: flex;
  padding: 0 10px;
  align-items: center;
  & select {
    border-radius: 3px;
    /* padding: 10px; */
  }

  & input{
    border-radius: 3px;
  }
}
